@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 60px;

  .card {
    width: 300px;
    margin: 5px;
  }

  .card-body {
    flex: none;
  }
}

.project-form {
  margin-top: 60px;
}

.technology-form {
  margin-top: 60px;
}

li {
  list-style: none;
}
