@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}
.card-container {
  display: flex;
  flex-flow: row wrap;

  .card {
    width: 300px;
    margin: 5px;
  }

  .card-body {
    flex: none;
  }
}
